<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="proj.mapper.UserMapper">
    <!--这个id是定位到接口中的查询方法，resultMap是指接口中继承的类
    <select id="getEquipmentById" resultMap="Equipment">
        select * from 4robot where jointId = #{id}
    </select>-->

</mapper>
